<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/log_in_out' %>
    <%= render 'shared/welcome_message' %>
    <%= render 'shared/errors' %>
    <%= yield %>
  </body>
</html>
